<div class="row">
  <div class="col-md-4 col-xs-12">
    <div class="dropdown" style=" margin-top:10px;">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Sort by ID
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">Descending</button>
        <button class="dropdown-item" type="button">Ascending</button>
      </div>
    </div>
  </div>
</div>
