<div class="cards-container">
  <div class="row">
    <!-- iteration needs to be implemented starts -->
    <div class="card col-md-3" style="margin-top: 10px;padding: 0px;">
      <img class="card-img-top" src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" alt="Card image cap">
      <div class="card-body" style="padding: 10px 20px;">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span>STATUS</span> <span class="float-right">sdfdsf
            dsfdsfds
            dfd</span></li>
        <li class="list-group-item"><span>SPECIES</span> <span class="float-right">sdfdsf
            dsfdsfds
            dfd</span></li>
        <li class="list-group-item"><span>GENDER</span> <span class="float-right">sdfdsf
            dsfdsfds
            dfd</span></li>
        <li class="list-group-item"><span>ORIGIN</span> <span class="float-right"> fdsfsdfsdfdsf
            dsfdsfds
            dfd</span></li>
        <li class="list-group-item"><span>LAST LOCATION</span> <span class="float-right">sdfdsf
            dsfdsfds
            dfd</span></li>
      </ul>
    </div>
    <!-- iteration needs to be implemented ends -->
  </div>
</div>
