<div class="cards-container">
  <!-- {{cardDetails?.results | json}} -->
  <div class="row" *ngFor="let cardDetail of cardDetails">
    <!-- iteration needs to be implemented starts -->
    <div class="card col-md-3" style="margin-top: 10px;padding: 0px;">
      <img class="card-img-top" src="{{cardDetail?.image}}" alt="Card image cap" loading="lazy">
      <div class="card-body" style="padding: 10px 20px;">
        <h5 class="card-title">{{cardDetail?.name}}</h5>
        <p class="card-text">Some quick example text to</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span>STATUS</span> <span class="float-right">{{cardDetail?.status}}</span></li>
        <li class="list-group-item"><span>SPECIES</span> <span class="float-right">{{cardDetails?.species}}</span></li>
        <li class="list-group-item"><span>GENDER</span> <span class="float-right">{{cardDetail?.gender}}</span></li>
        <li class="list-group-item"><span>ORIGIN</span> <span class="float-right">{{cardDetail?.origin?.name}}</span>
        </li>
        <li class="list-group-item"><span>LAST LOCATION</span><span
            class="float-right">{{cardDetail?.location?.name}}</span></li>
      </ul>
    </div>
    <!-- iteration needs to be implemented ends -->
  </div>
</div>
